/*variables*/

:root{
  --verdiazul: #1a936f;
  --green: green;
  --marginTop: 30px;
  --btnPadding: 10px 20px;
  --borderRadious: 15px;
  --paddingSection: 50px 0;
  --sectionTitle: 40px;
  --sombrita: 3px 3px 10px rgba(0,0,0,.5);
}

/*reset styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  border: none;
}

body, 
html{
  scroll-behavior: smooth;
}

header{
  background-color: var(--verdiazul);
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  padding: var(--paddingSection);
  position: relative;
  height: 250px;
}

.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verdiazul);
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 25px;
  box-shadow: var(--sombrita);
  max-width: 900px;
}

nav a{
  margin: 0 15px;
  color: white;
  position: relative;
}

nav a:after{
  content: "";
  border: 1px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

nav a:hover:after{
  display: block;
  width: 100%;
  animation: border-animation 1s;
}

@keyframes border-animation {
  0%{
    width: 0;
  }
  100%{
    width:100%;
  }
}

main{
  margin: 0 auto;
  margin-top: var(--marginTop);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-size: 1.3rem;
  text-align: justify;
}

main img{
  width: 30%;
  border-radius: 30%;
}

main p{
  margin-top: var(--marginTop);
}

main button{
  padding: var(--btnPadding);
  background-color: var(--verdiazul);
  color: #fff;
  border-radius: var(--borderRadious);
  cursor: pointer;
  transition: .4s;
  box-shadow: var(--sombrita);
  margin-top: var(--marginTop);
}
main button:hover{
  background-color: var(--green);
}

aside{
  background: var(--verdiazul);
  font-size: 1.3rem;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: var(--marginTop);
  padding: var(--paddingSection);
}

aside h3{
  font-size: var(--sectionTitle);
}

aside ul{
  list-style: none;
  margin-top: var(--marginTop);
  font-size: 1.3rem;
}

.comida-favorita{
  padding: var(--paddingSection);
  text-align: center;
}

.comida-favorita h3{
  font-size: var(--sectionTitle);
  color: var(--verdiazul);
}

.comida-favorita ol{
  font-size: 1.3rem;
  margin-top: var(--marginTop);
}

#horario{
  background-color: var(--verdiazul);
  padding: var(--paddingSection);
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#horario h3{
  font-size: var(--sectionTitle);
}

#horario table{
  margin-top: var(--marginTop);
}

#horario th, 
td{
  border: 1px solid;
  padding: var(--btnPadding);
  font-size: 1.3rem;
}

#cancion{
  padding: var(--paddingSection);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cancion h3{
  color: var(--verdiazul);
  font-size: var(--sectionTitle);
}

audio{
  margin-top: var(--marginTop);
}

#cancion dl{
  margin-top: var(--marginTop);
  font-size: 1.3rem;
  line-height: 1;
}

#cancion dt{
  font-weight: bolder;
  color: var(--verdiazul);
}

#cancion dd{
  margin-left: 15px;
}

#video{
  width: 100%;
  background-color: var(--verdiazul);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--paddingSection);
}

#video h3{
  font-size: var(--sectionTitle);
  color: #fff;
}

video{
  margin-top: var(--marginTop);
}


#juego{
  padding: var(--paddingSection);
  text-align: center;
}

#juego h3{
  font-size: var(--sectionTitle);
  color: var(--verdiazul);
}

#juego iframe{
  margin-top: var(--marginTop);
}

footer{
  padding: var(--paddingSection);
  font-size: 1.3rem;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--verdiazul);
  position: relative;
}

footer h3{
  font-size: var(--sectionTitle);
  color: #fff;
}

.info-container{
  display: flex;
  width: 50%;
  padding: 25px;
  margin-top: var(--marginTop);
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 25px;
}

.info-container::before{
  content: "";
  width: 100%;
  height: 50px;
  background: #fff;
  position: absolute;
  animation: rotate 4s linear infinite;
}

.info-container p{
  position: relative;
  z-index: 10;
  color: #fff;
}

.info-container strong{
  color: #fff;
}

.info-container::after{
  content: "";
  position: absolute;
  inset: 4px;
  background-color: var(--verdiazul);
  border-radius: 25px;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.repo{
  color: #000;
  margin-top: 15px;
  font-size:1rem;
  text-decoration: underline;
}

.up{
  background-color: #fff;
  position: absolute;
  border: 2px solid var(--verdiazul);
  width: 40px;
  bottom: 2%;
  right: 2%;
  position: fixed;
  cursor: pointer;
  padding: 5px;
}

.up:hover{
  transform: scale(1.1);
}

.up img{
  width: 100%;
}

/* RESPONSIVE MENUS */
#menu{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  right: 1%;
  display: none;
}

#checkbox{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15%;
  right: 1%;
  appearance: none;
  cursor: pointer;
}


/* media queries */

@media screen and (max-width:893px){
  :root{
    --paddingSection: 30px;
    --sectionTitle: 25px;
    --btnPadding: 7px 14px;
  }
  *{
    font-size: 15px;
  }

  body{
    display: static;
  }

  .wave {
    display: none;
  }
  header{
    height: auto;
  }
  h1{
    font-size: 100%;
    margin: 0 auto;
  }
  
  main{
    width: 90%;
  }
  main img{
    width: 70%;
  }

  video{
    width: 90%;
  }

  .info-container{
    width: 90%;
  }

  #horario th, 
  td{
    border: 1px solid;
    padding: var(--btnPadding);
    font-size: 1rem;
  }

  #menu{
    display: block;
  }
  label{
    display: block;
    position: absolute;
    left: -450%;
    right: 12%;
    top: 15.3%;
  }
  
  #checkbox:checked + label{
    display: block;
    position: absolute;
    left: 0;
    right: 12%;
    top: 15.3%;
    transition: left .5s;
  }
  nav{
    display: flex;
    flex-direction: column;
    border-radius: 0;
    gap: 15px;
    padding: 25px 0;
  }
}

@media screen and (max-width:550px){

  #juego{
    width: 95%;
    margin: 0 auto;
  }
  iframe{
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width:444px){
  #checkbox{
    top: 20%;
  }
  #checkbox:checked + label{
    top: 21.6%;
  }
}

@media screen and (max-width:400px){
  iframe{
    width: 100%;
    height: 200px;
  }
}